<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AzureRTOS.TraceManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AzureRTOS.TraceManagement.Properties.Settings>
            <setting name="MainWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainState" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilesPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="uSecPerTick" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="statusLinesReadyOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statusLinesAllOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusLinesAllOff" serializeAs="String">
                <value>False</value>
            </setting>
        </AzureRTOS.TraceManagement.Properties.Settings>
    </userSettings>
    <runtime>
        <AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=false;Switch.UseLegacyAccessibilityFeatures.3=false"/>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
